/* Body */
html, body {
    height: 100%;
    font-family: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white !important;
}

/* Dark mode */
.dark-mode {
    background-color: #121212 !important;
    color: white;
}

.nav-dark-mode {
    background-color: #1e1e1e !important;
    color: white !important;
}

.text-area-dark-mode {
    background-color: #1e1e1e !important;
    color: white !important;
    border: none !important;
}

.langSel-dark-mode {
    background-color: #2e2e2e !important;
    color: white !important;
}

.langSel-label-dark-mode {
    color: #e6e6e6b8 !important;
}

.dark-mode-switch {
    position: relative;
    margin-right: 15px;
    cursor: pointer;
    z-index: 2;
}



/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    background-color: #f8f9fa;
    height: 7vh;
    margin-bottom: 10px;
    color: black;
    border: none !important;
    box-shadow: 0px 8px 20px 1px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-family: Iosevka, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px !important;
    z-index: 2;
    letter-spacing: 1.2px;
    cursor: pointer;
}

nav {
    height: 65px !important;
}

.nav-link {
    position: relative;
    z-index: 2;
    cursor: pointer !important;
}

/*  Text areas */

#id_inputData {
    min-height: 88vh;
    float:left; 
    width: 99.2; 
}

.contentArea {
    padding:6px 12px;
    height: 88vh; 
    width: 49.6%; 
    float: right; 
    padding-bottom: 10px; 
    border-radius: 4px;
    position: relative;
    top: -5px;
}

#page-content {
    position: relative;
    top: -45px;
    z-index: 1;
}

textarea {
    font-family: Consolas !important;
    box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.1);
    border: none !important;
    border-radius: 0.25rem;
}

.requiredField { display: none; }


/* Language selector */

#div_id_language {
    float:right;
    width: 20%;
    position: relative;
    top: -8px;
    
}

#id_language {
    float: right;
    background-color: white;
    color: black;
    border: none;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}

.lang-sel {
    position: absolute;
    margin-left: 21%;
    margin-top:16px;
    font-size: 13px;
    font-weight: 500;
}

#lang-sel-label {
    position: relative;
    float: right;
    top: 14px;
    letter-spacing: 1.5px;
    font-size: 10px;
    color: black;
}



/* Buttons */

.btn {
    font-size: 14px !important;
    letter-spacing: 1.25px !important;
    font-weight: 500 !important;
    color: black !important;
}

#submit-button {
    position: relative;
    top: -14px;
    width: 100px;
    font-weight: 500 !important;
    margin-left: 0.75%; 
    margin-right: 5px;
    background-color: #c38fff !important;
    border-color: #c38fff !important;
    color: black !important;
}

#submit-button:hover{
    background-color: #d2abff !important;
    border-color: #d2abff !important;
}

.nav-button {
    position: relative;
    padding: 0.3rem 0.65rem !important; 
    z-index: 2;
    height: 36px;
    background-color: #65bb86 !important;
}


.bottom-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.asteriskField { display: none; }



textarea:focus { outline: none; }


#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);

}

#overlay {
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background: #f8f9fa;
    box-shadow: 0px 0px 20px 11px rgba(0,0,0,0.1);
    width: 50%;
    height: 65%;
    border-radius: 6px;
    text-align: center;
    background: url("https://images.wallpaperscraft.com/image/black_white_kitten_white_black_shadow_baby_fear_1068_1920x1200.jpg") no-repeat;
    background-size: 100% 100%;
}

.splash-heading {
    font-family: Iosevka;
    margin-top: 12%;
    font-size: 30px;
    font-weight: 300;
}



