{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/main.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>PsyCode</title>
</head>

<body class="d-flex flex-column bg-dark">

    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 2px;">
        <a class="navbar-brand" href="#">PSEUDOCODE TO CODE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link disabled lang-sel-label" href="#">Language</span>
                </li>
            </ul>

            <!-- How to Use button -->
            <span>
                <a href = "#" class="btn btn-success nav-button" type="submit">
                    How to Use
                    <img style="margin-bottom: 4px" src="https://img.icons8.com/material/24/000000/help--v1.png"/>
                </a>
            </span>
            
        </div>
    </nav>

    <!--Input Section-->
    <div id="page-content">
        <div class="container-fluid content-section">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}        
            {% block content %}{% endblock %}
        </div>
    </div>
        
    <!--footer-->
    <!-- <footer id="sticky-footer" class="py-2 mt-3 bg-dark text-white-50">
        <div class="text-center">
            <span style="font-size: 14px;">
                PsyCode
            </span>
        </div>
    </footer> -->
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>

<script>

    // Script for tab spaces
    $("#id_inputData").keydown(function(e) {
        if(e.keyCode === 9) { // tab was pressed
            // get caret position/selection
            var start = this.selectionStart;
                end = this.selectionEnd;

            var $this = $(this);

            // set textarea value to: text before caret + tab + text after caret
            $this.val($this.val().substring(0, start)
                        + "\t"
                        + $this.val().substring(end));

            // put caret at right position again
            this.selectionStart = this.selectionEnd = start + 1;

            // prevent the focus lose
            return false;
        }
    });

    // Script for lable positioning
    function labelPosition() {
        var width = $(".contentArea").width() - $(".form-group").width() -225 - 140;

        $(".lang-sel-label").css("left", width);
    }

    // On window resize
    $(window).resize(function(){
        labelPosition();
    });

    // On window load
    $(window).ready(function(){
        labelPosition();
    });

    
</script>

</html>