{% extends 'webapp/base.html' %}0

{% block content %}

<div class="" style="width: 100%; margin-top: 8%; text-align: center; font-family: Roboto;">
    <h5>Some of the conventions to be followed when entering the pseudo-code as input for optimal results</h5>
    <hr>
    <p>All variables to be used in the program are to be declared first before use for strongly typed languages like C or CPP.
    <p>A user-defined function can only be called when the function is defined.</p>    
    <p>When there is a combination of strings and variables for printing, declare each separately: Eg: print “The value of a is”, a</p>    
    <p>Use the standard indentations(tab spaces) when using control statements like if and while.</p>    
    <p>Start the program with function/program main (for main function) or the function definition.</p>    
    <p>For input, use notation ‘assign/accept (variable name) with input from user’</p>    
    <p>When defining or declaring a variable, make sure that the type is mentioned (int, char, float, double is available as of now)</p>    
    <p>Define the function before the main program.</p>    
    <p>Do not add colon (:) to the end of if,elif,else and while. </p>    
</div>

{% endblock content %}