{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset style="float:left; width: 49.8%;">
            {{ form|crispy }}
        </fieldset>
        
        <div class="form-group pt-2">
            <button class="btn" id="submit-button" type="submit">CONVERT</button>
        </div>
    </form>
    <textarea placeholder="Source Code" class="contentArea" id="test">{{ object }}</textarea>
</div>
{% endblock content %}