{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="pt-2" style="float:left; width: 49.5%;">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group pt-2">
            <button class="btn btn-outline-info" type="submit" style="margin-left: 1%; margin-right: 5px; margin-top:2.1%">Convert</button>
        </div>
    </form>
    <textarea placeholder="Source Code" class="contentArea">{{ object }}</textarea>
</div>
{% endblock content %}